---
import Examples from './Examples.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Headline from '../ui/Headline.astro';
import Button from '../ui/Button.astro';

// Prices for calculation
const LunaDayPrice = 1.12;
const BaluDayPrice = 0.85;
const FelixDayPrice = 1.29;
const MaxDayPrice = 1.29;

function PriceCalculation(price, period) {
  switch (period) {
    case 'Preis pro Tag':
      return price;
    case 'Preis pro Monat':
      return (price * 30).toFixed(2); // Monthly price calculation
    case 'Preis pro Kilogram':
      return (price / 2000).toFixed(2); // Kilogram-based price
    default:
      return price;
  }
}

var currentPeriod = 'Preis pro Monat';

function UpdatePeriod(text) {
      text = currentPeriod;
    }

const {
  title = 'Premium-Qualität muss nicht teuer sein',
  subtitle = 'Individuelle Ernährung für deinen Liebling – ohne Kompromisse beim Preis. Entdecke, wie erschwinglich individualisiertes Futter sein kann.',
  tagline = '',
  buttons = [
    { text: 'Preis pro Tag', period: 'Preis pro Tag', id: 'Preis pro Tag' },
    { text: 'Preis pro Monat', period: 'Preis pro Monat', id: 'Preis pro Monat' },
    { text: 'Preis pro Kilogram', period: 'Preis pro Kilogram', id: 'Preis pro Kilogram' },
  ],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex items-stretch justify-center mb-10">
    <div class="grid grid-cols-3 gap-4 dark:text-white sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3">
      {buttons.map(({ text, id }) => (
        <div class="col-span-4 mx-auto flex w-full sm:col-span-1 md:col-span-1 lg:col-span-1 xl:col-span-1">
          <Button
            class="w-full"
            variant="secondary"
            text={text}
            type="button"
            id={id}
            data-period={text}
          />
        </div>
      ))}
    </div>
  </div>
  <div id="examples-container">
    <Examples
      examples={[
        {
          petname: 'Luna',
          subtitle: 'Labradoodle',
          tagline: 'Sehr aktiv',
          price: PriceCalculation(LunaDayPrice, currentPeriod),
          period: currentPeriod,
          image:
            'https://images.unsplash.com/photo-1609620977477-30bebfbffb41?q=80&w=2940&auto=format&fit=crop',
          alt: 'Luna Bild',
        },
        {
          petname: 'Balu',
          subtitle: 'Australian Shepherd',
          tagline: 'im Wachstum',
          price: PriceCalculation(BaluDayPrice, currentPeriod),
          period: currentPeriod,
          image:
            'https://images.unsplash.com/photo-1609620977477-30bebfbffb41?q=80&w=2940&auto=format&fit=crop',
          alt: 'Balu Bild',
        },
        {
          petname: 'Otto',
          subtitle: 'Rauhaar-Dackel',
          tagline: 'Gelenkprobleme',
          price: PriceCalculation(FelixDayPrice, currentPeriod),
          period: currentPeriod,
          image:
            'https://images.unsplash.com/photo-1609620977477-30bebfbffb41?q=80&w=2940&auto=format&fit=crop',
          alt: 'Felix Bild',
        },
        {
          petname: 'Fiete',
          subtitle: 'Golden Retriever',
          tagline: 'Senior',
          price: PriceCalculation(MaxDayPrice, currentPeriod),
          period: currentPeriod,
          image:
            'https://images.unsplash.com/photo-1609620977477-30bebfbffb41?q=80&w=2940&auto=format&fit=crop',
          alt: 'Max Bild',
        },
      ]}
    />
  </div>
</WidgetWrapper>

<script>

    const buttonsQuery = document.querySelectorAll('button');
  
    buttonsQuery.forEach((button) => {
      button.addEventListener('click', () => {
        console.log(button.id);
        UpdatePeriod(button.innerText);
      });
    });
  </script>