---
import type { Kibbles as Props } from '~/types';

import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Headline from '../ui/Headline.astro';
import Image from '../common/Image.astro';
import { Icon } from 'astro-icon/components';

import ItemGrid2 from '../ui/ItemGrid2.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  kibble = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex flex-wrap justify-center text-center gap-4">
    {
      kibble &&
        kibble.map(({ title, desc, img }) => (
          <div class="flex flex-row group p-4 text-center md:border-r md:last:border-none dark:md:border-slate-500 intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade intersect-quarter">
            {img && <Image src={img} width={75} height={75} alt="Kibble" />}
            {title && (
              <div class="text-left text-lg font-bold text-gray-800 dark:text-slate-200 lg:text-xl opacity-100">
                {title}
                {desc && (
                  <div class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base opacity-100">
                    {desc}
                  </div>
                )}
              </div>
            )}
          </div>
        ))
    }
  </div>
</WidgetWrapper>
