---
import { getCollection } from 'astro:content';

const allPosts = await getCollection('post', ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});

const posts = allPosts.sort((a, b) => {
  const aDate = a.data.publishDate || new Date();
  const bDate = b.data.publishDate || new Date();
  return bDate.valueOf() - aDate.valueOf();
});
---

<h1>Test</h1>
<p>Anzahl gefundener Posts: {posts.length}</p>
<ul>
  {posts.map(post => (
    <li>
      <h3>Post Details:</h3>
      <ul>
        <li>ID: {post.id}</li>
        <li>Slug: {post.slug}</li>
        <li>Title: {post.data.title}</li>
        <li>Draft: {post.data.draft ? 'Ja' : 'Nein'}</li>
        <li>Publish Date: {post.data.publishDate?.toISOString()}</li>
        <li>Category: {post.data.category}</li>
        <li>Tags: {post.data.tags?.join(', ')}</li>
      </ul>
    </li>
  ))}
</ul>
